<p id="notice"><%= notice %></p>

<h1>Favcompanies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favcompanies.each do |favcompany| %>
      <tr>
        <td><%= favcompany.name %></td>
        <td><%= link_to 'Show', favcompany %></td>
        <td><%= link_to 'Edit', edit_favcompany_path(favcompany) %></td>
        <td><%= link_to 'Destroy', favcompany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favcompany', new_favcompany_path %>
