<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Companies following:</strong>
  <% @user.favcompany_ids.each do |i| %>
  <% @array << Favcompany.find_by(id: i).name %>
  <% end %>
   <%= @array %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
