<% @array.each do |item| %>
  <header>
    <h1><%= @companies[@num] %></h1>
    <% @num += 1 %>
  </header>
  <% item["value"].first(5).each do |result| %>
    <% if "#{$analyzer.sentiment result["description"]}" == "positive" %>
      <% @positive += 1 %>
    <% else %>
      <% @negative += 1 %>
    <% end %>
    <div class="container">
      <nav>
        <ul>
          <% if result["image"].nil? == true %>
            <img src = "https://www.shearwater.com/wp-content/plugins/lightbox/images/No-image-found.jpg" height="100" width="100">
          <% else %>
            <img src = <%=  result["image"]["thumbnail"]["contentUrl"] unless result["image"].nil?  %>>
          <% end %>
        </ul>
      </nav>
      <article>
        <li>
          <% if "#{$analyzer.sentiment result["description"]}" == "positive" %>
            <%= link_to result["name"], result["url"], {style: "color: blue"} %>
          <% elsif "#{$analyzer.sentiment result["description"]}" == "negative" %>
            <%= link_to result["name"], result["url"], {style: "color: red"} %>
          <% else %>
            <%= link_to result["name"], result["url"], {style: "color: blue"} %>
          <% end %>
        </li>
        <br>
        <%= result["description"].truncate_words(80) %><br>
        <p> Source: 
          <%= item['value'][0]['provider'][0]['name'] %></p>
      </article>
    </div>
  <% end %>
<% end %>